@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root  {
    --background: 243.4 100% 95%;
    --foreground: 243.4 5% 10%;
    --card: 243.4 50% 90%;
    --card-foreground: 243.4 5% 15%;
    --popover: 243.4 100% 95%;
    --popover-foreground: 243.4 100% 10%;
    --primary: 243.4 75.4% 58.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243.4 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 205.4 30% 85%;
    --muted-foreground: 243.4 5% 35%;
    --accent: 205.4 30% 80%;
    --accent-foreground: 243.4 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 243.4 5% 90%;
    --border: 243.4 30% 50%;
    --input: 243.4 30% 24%;
    --ring: 243.4 75.4% 58.6%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 243.4 50% 10%;
    --foreground: 243.4 5% 90%;
    --card: 243.4 50% 10%;
    --card-foreground: 243.4 5% 90%;
    --popover: 243.4 50% 5%;
    --popover-foreground: 243.4 5% 90%;
    --primary: 243.4 75.4% 58.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243.4 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 205.4 30% 24%;
    --muted-foreground: 243.4 5% 60%;
    --accent: 205.4 30% 24%;
    --accent-foreground: 243.4 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 243.4 5% 90%;
    --border: 243.4 30% 24%;
    --input: 243.4 30% 24%;
    --ring: 243.4 75.4% 58.6%;
    --radius: 0.5rem;
  }
}


